# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info

# git
**/.git/

# dotfiles
.venv/
.vscode/
.aider*
.env
.ruff_cache
.pytest_cache
.gitignore
.github/

# data
data/
archive/

# ignore all weights except prod
weights/
!weights/prod

# non-source files
notebooks/
scripts/
supabase/
Dockerfile
tests/
ray_results/
service.yaml
